<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>
<body style="margin-top:20%;">
<span id="responsefield" style="text-align:center"></span>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
   <script type="text/javascript">
  	  function abc(){
var chart = new Highcharts.Chart({
    chart: {
        renderTo:'container',
        //type:'column'
        type:'bar'
        //type:'area'
        //type:'scatter'
        //type:'bubble'
    },
    credits: {},
    exporting: {},
    legend: {},
    title: {},
    tooltip: {},
    plotOptions: {
        series: {
        
        }
    },
    xAxis: {
        allowDecimals:false
    },
    yAxis: {
        labels: {
            formatter:function() {
                return Math.abs(this.value);
            }
        }
    },
    series:[{
        grouping:false,
        data:[2,3,5,8,15,12,7,4]
    },{
        grouping:false,
        data:[-2,-3,-5,-8,-15,-12,-7,-4]
    }]		
});
	}
	  </script>


  <script>


  $(document).ready(function()
  {
    setInterval(function() {       
      var currentid = $("#currentid").val();
      var data = 
	    { 
	      inputid:currentid
	    };
	  var dataToSend = JSON.stringify(data)
	  $.ajax(
	    {
	      url:'/',
	      type:'POST',
	      data:dataToSend,
	      success:function(jsonResponse)
	      {
	        abc() 
	        var objresponse = JSON.parse(jsonResponse);
	        var html = "";
	        html += "<div><hr style='width:" + objresponse['now'] +"%;'>"; 
	        html += "<h3><p style='color:" + objresponse['color'] + ";'>"; 
	        html += objresponse['now'] + "%</p></h3>";
	        html += "</div>";
	    	$("#responsefield").html(html)
	      },
	      error:function()
	      {
	        $("#responsefield").text("Error to load api");
	      }
	  });
    event.preventDefault();
    }, 1000);
  });
  </script>

</body>
</html>
