<!DOCTYPE html>
<html>
<head>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script>
  $(document).ready(function()
  {
      // Select click or interval
      //$('#runajax').click(function(event){
      setInterval(function() {
          var key1 = "sample";
		  //var valueForInput2 = $("#input2").val();
		  var data = 
	      { 
	        key1:key1
	      };
	      var dataToSend = JSON.stringify(data)
		  $.ajax(
	 	 {
	      url:'/',
	      type:'POST',
	      data:dataToSend,
	      success:function(jsonResponse)
	      {
	        var objresponse = JSON.parse(jsonResponse);
		  	//console.log(objresponse['now']);
		  	html_text = "";
		  	html_text += "<h1 style='text-align:center; margin-top:5em;'>"+objresponse['now']+"</h1>"
		  	$("#responsefield").html(html_text);
		    //$("#responsefield").text(objresponse['now']);
	      },
	      error:function()
	      {
	        $("#responsefield").text("Error to load api");
	      }
	  });
    event.preventDefault();
    }, 1000);
  });
  </script>
</head>
<body>
  
  <span id="responsefield"></span>
</body>
</html>
